!!!
/[if lt IE 7 ] <html class="ie6" lang="en">
/[if IE 7 ] <html class="ie7" lang="en">
/[if IE 8 ] <html class="ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0", :name => "viewport"}/
    %link{:rel => "shortcut icon", :href=>"/images/favicon.png"}/

    %title= content_for?(:title) ? yield(:title) : ENV["HACK_NAME"]
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield(:head)
    = csrf_meta_tags
    = render "shared/analytics/segment"

  %body{:class => "#{controller_name} #{action_name}"}
    .wrapper
      - flash.each do |name, msg|
        - if msg.is_a?(String)
          = content_tag :div, msg, :id => "flash_#{name}"
      = render "shared/header/nav"
      = yield
      = render "shared/footer/footer"

    = render "shared/analytics/segment_reporting"